name: MyXL Key Hunter

on:
  workflow_dispatch:
    inputs:
      apk_url:
        description: 'Direct Link Download APK (kosongkan jika upload manual)'
        required: false
      version_tag:
        description: 'Versi App (misal: 8.10.0)'
        required: true

jobs:
  hunt:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Java (Untuk JADX)
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install JADX
        run: |
          wget https://github.com/skylot/jadx/releases/download/v1.4.7/jadx-1.4.7.zip
          unzip jadx-1.4.7.zip -d jadx
          chmod +x jadx/bin/jadx

      - name: Download APK
        if: ${{ inputs.apk_url != '' }}
        run: |
          echo "Downloading from ${{ inputs.apk_url }}..."
          wget -O target.apk "${{ inputs.apk_url }}"

      - name: Decompile APK (Ini memakan waktu...)
        run: |
          # Decompile resources (-r) dan sources (-s) ke folder 'out'
          ./jadx/bin/jadx -d out -r -s --no-debug-info target.apk

      - name: Run Hunter Script
        run: |
          # Jalankan script python pencari key
          python hunt.py
